<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title default="Fortymm" suffix=" · Phoenix Framework">
      {assigns[:page_title]}
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/css/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/js/app.js"}>
    </script>
    <script>
      (() => {
        const setTheme = (theme) => {
          if (theme === "system") {
            localStorage.removeItem("phx:theme");
            document.documentElement.removeAttribute("data-theme");
          } else {
            localStorage.setItem("phx:theme", theme);
            document.documentElement.setAttribute("data-theme", theme);
          }
        };
        if (!document.documentElement.hasAttribute("data-theme")) {
          setTheme(localStorage.getItem("phx:theme") || "system");
        }
        window.addEventListener("storage", (e) => e.key === "phx:theme" && setTheme(e.newValue || "system"));
        
        window.addEventListener("phx:set-theme", (e) => setTheme(e.target.dataset.phxTheme));
      })();
    </script>
  </head>
  <body>
    <div class="navbar bg-base-200 shadow-sm">
      <div class="flex-1">
        <.link href={~p"/"} class="btn btn-ghost text-xl">FortyMM</.link>
      </div>
      <div class="flex-none">
        <ul class="menu menu-horizontal px-1">
          <%= if @current_scope do %>
            <li>
              <div
                phx-click={JS.toggle(to: "#user-menu")}
                class="cursor-pointer"
              >
                <FortymmWeb.Components.Gravatar.avatar
                  email={@current_scope.user.email}
                  size={32}
                  class="w-5 h-5 rounded-full"
                  alt={@current_scope.user.username}
                />
                {@current_scope.user.username}
              </div>
              <ul
                id="user-menu"
                phx-click-away={JS.hide(to: "#user-menu")}
                class="hidden menu dropdown-content bg-base-200 rounded-box w-56 mt-6 z-[1] p-2 shadow absolute right-0"
              >
                <li>
                  <.link href={~p"/users/settings"}>
                    <.icon name="hero-user-circle" class="size-5" /> Account Settings
                  </.link>
                </li>
                <li>
                  <.link href={~p"/users/log-out"} method="delete" class="text-error">
                    <.icon name="hero-arrow-left-on-rectangle" class="size-5" /> Sign Out
                  </.link>
                </li>
              </ul>
            </li>
          <% else %>
            <li>
              <.link href={~p"/users/register"}>Register</.link>
            </li>
            <li>
              <.link href={~p"/users/log-in"}>Log in</.link>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
    {@inner_content}
  </body>
</html>
