<header id="league-data-upload-header">
  <%= link "Administration", to: Routes.administration_landing_page_path(@socket, :index) %> > <%= link "Leagues", to: Routes.administration_leagues_path(@socket, :index) %> > <%= link @league.name, to: Routes.administration_leagues_path(@socket, :show, @league), class: "league-details" %> > Upload Data
</header>

<form id="upload-form" phx-submit="save" phx-change="validate">
  <button type="submit">Queue Data Ingestion</button>
</form>
