name: Playwright Tests
on:
  push:
    branches: [main, master]
  pull_request:
    branches: [main, master]
jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:18
        ports:
          - 5432:5432
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: fortymm_dev
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    env:
      DATABASE_HOST: localhost

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup Elixir and Dependencies
      uses: ./.github/actions/setup-elixir-postgres
      with:
        elixir-version: "1.19.1"
        otp-version: "28"

    - name: Setup Node.js
      uses: actions/setup-node@v4
      with:
        node-version: lts/*

    - name: Install Playwright dependencies
      working-directory: ./e2e-tests
      run: npm ci

    - name: Install Playwright Browsers
      working-directory: ./e2e-tests
      run: npx playwright install --with-deps

    - name: Run Playwright tests
      working-directory: ./e2e-tests
      run: npm test
      env:
        CI: true

    - uses: actions/upload-artifact@v4
      if: ${{ !cancelled() }}
      with:
        name: playwright-report
        path: e2e-tests/playwright-report/
        retention-days: 30
